*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: #2e4337;
}
html{
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
}
#nav{
    z-index:6;
}
.bg-color{
    background: #226767;
    animation: bg 1.2s;
}

@keyframes bg {
    0% {
        top: -100px
    }

    100% {
        top: 0
    }
}

.logo {
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    float: left;
    font-weight: bold;
    cursor:pointer;
}

.logo:hover{
    transform: rotate(5deg);
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    color: rgb(12, 9, 9);
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    font-weight: 600;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover {
    color: #ffffff;
}

.menu-toggle {
    color: rgb(94, 94, 94);
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.container{
    padding:30px 100px;
}

.bg-1{
    background: url(../image/background-1.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 100vh;
}

.bg-1::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, #2e4337 8%, rgba(255,255,255,0) 50%);

}

.d-flex{
    display: flex;
    align-items: center;
}


.col-md{
    max-width:50%;
}

.content-hero h1 {
    font-size: 34px;
    font-weight: 600;
    color: #ffffff;
    text-transform: capitalize;
    font-family: cursive;
    margin: 0;
    line-height: 1.3;
}
.content-hero p {
    font-size: 24px;
    padding:10px 0;
}
.btn a {
    margin-top:20px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    font-family: cursive;
    background: #5be79b;
    padding: 17px 35px;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
.btn a:hover{
    box-shadow: inset 200px 0 0 0 #41a36c;
}

.d-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 4rem;
    justify-content: center;
}

.d-grid .card{
    text-align: center;
    border: 1px solid #666;
    padding: 2rem;
    width: 45%;
}

.card:hover{
    background-color: #537568;
}
.card .image{
    padding: 1rem 0;
}

.card .content h3 {
    font-size: 2rem;
    padding: 0.8rem;
}
.card .content p {
    padding: 0 20px;
}

.card .image img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

footer{
    border-top:1px solid #dfdfdf;
}

.max-with-50{
    max-width: 30%;
}
.mr-30{
    margin-right: 30px;
}
.mt-30{
    margin-top:30px;
}
.mb-30{
    margin-bottom:30px;
}
.mt-25{
    margin-top:25px;
}

.text-center{
    text-align:center;
}

.menu ul{
    margin-top:10px;
}
.menu ul li{
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: #000;
}
.menu ul li a:hover{
    text-decoration: revert;
    color: rgb(18, 119, 69);
}

.cpright{
    margin-top: 20px;
    margin-bottom: 20px;
    border-top:1px solid silver;
    font-size: 11px;
    padding-top:20px;
}
.cpright a{
    letter-spacing: 1px;
    color:#41a36c;
}

.mt-20{
    margin-top:20px;
}
.mt-10{
    margin-top:10px;
}
.image-style {
    margin-top: 4rem;
    column-count: 3;
    column-gap: 5px;
}
.image-style img{
    border-radius: 2px;
}
.style-img {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}
.style-img img {
    width: 100%;
    height: auto;
    transition: all ease-in-out 0.3s;
}
.style-img img:hover{
    transform: scale(1.2);
}
.d-flex-contact{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}
.col-md-2{
    width:45%;
    flex: 1 1 auto;
}
.col-md-2 img{
    max-width: 100%;
    object-fit: cover;
}
.contact-area {
    background: #1e674d;
    padding: 30px 35px;
    border-radius: 10px;
}
.contact-area .contact-title h3 {
    font-size: 28px;
    color: #fff;
    font-weight: 500;
    font-family: 'Montserrat';
    text-transform: capitalize;
    margin: 0 0 26px;
}
.form-box {
    margin-bottom: 15px;
}
.contact-area .form-box input {
    width: 100%;
    height: 54px;
    padding-left: 20px;
    background: #2d513d;
    transition: .5s;
    border: 1px solid #2d6647;
    border-radius: 10px;
    color: #fff;
}
.contact-area .form-box textarea {
    width: 100%;
    padding-left: 20px;
    padding-top: 15px;
    background: #2d513d;
    border: 1px solid #2d6647;
    height: 120px;
    outline: 0;
    transition: .5s;
    border-radius: 10px;
    color: #fff;
}
.contact-area .form-button {
    text-align: left;
}
.contact-area .form-button button {
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
    font-family: cursive;
    text-transform: capitalize;
    display: inline-block;
    padding: 15px 27px;
    background: #13975b;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    border: none;
}
.contact-area .form-button button:hover{
    background-color: #4c956e;
}
/* responsive */

@media (max-width: 850px) {
    header, .container {
        padding: 0 20px;
    }

    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        /* top: 60px; */
        left: -100%;
        transition: 0.5s all;
        z-index:6;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }
    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        color: rgb(255, 255, 255);
    }
    .col-md{
        max-width:100%;
    }
    .content-hero h1{
        font-size: 24px;
    }
    .content-hero p{
        font-size: 17px;
    }
    .max-with-50{
        max-width: 100%;
    }
    .d-grid .card{
        width: 100%;
    }
    .col-md-2{
        width:100%;
    }
}

@media (max-width:400px){
    .card .image img {
        height: 15rem;
    }
}